html {
background-color: rgb(235, 235, 235);
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: #555;
}

.p5Canvas {
z-index: -1;
}

h1, h2 {
  color:red;
}

button {
  background-color: #4b4bbb;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  height: 30px;
  border:1px solid  #3a3a57 ;
  border-radius: 20px;
  padding: 0 20px;
  margin: 0 10px;
}

button:hover{
  cursor: pointer;
  background:aqua;
  color:#000;
}

.piano {
  height:250px;
  max-width:800px;
  margin:20px;
  display: flex;
}

.piano .key {
  width:12.5%;
  position:relative;
}

.piano .key .white {
  position: relative;
  background:#fff;
  border: 1px solid #000;
  z-index:1;
  position: relative;
  height:100%;
}

.piano .key .black {
  height:140px;
  width:50%;
  left:100%;
  position:absolute;
  transform: translateX(-50%);
  z-index:5;
  top:0;
  background:#000;
}